@import "tailwindcss";

@font-face {
  font-family: "SF UI Display";
  src: url("/SFUIDisplay-Light.ttf");
}

@custom-variant dark (&:is(.dark *));

@theme {
  --color-dark: #222222;
  --color-light: #e8e8e8;
  --font-body: "SF UI Display", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar-thumb {
  background-color: #f8f8f8;
  border: 1px solid rgba(34, 34, 34, 0.7);
  border-radius: 10px;
}

body {
  overflow: hidden;
}

.glass {
  @apply bg-gray-400/10 bg-clip-padding backdrop-filter backdrop-blur-sm;
}
.glass-dark {
  @apply bg-gray-700/75 bg-clip-padding backdrop-filter backdrop-blur-sm;
}
input,
textarea,
select {
  background-color: transparent;
}
