@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF UI Display Light";
  src: url("/font/SFUIDisplay-Light.ttf") format("truetype");
}
.sf {
  font-family: "SF UI Display Light";
}
.montserrat {
  font-family: "Montserrat", sans-serif;
}
::-webkit-scrollbar {
  width: 5px;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
::-webkit-scrollbar-thumb {
  background-color: #f8f8f8;
}
body {
  overflow-x: hidden;
}
/* Dropdown Input */
.input-container {
  position: relative;
  margin: 20px;
  color: #e8e8e8;
}
.input-field {
  display: block;
  width: 100%;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #e8e8e8;
  outline: none;
  background-color: transparent;
}
